<extend name="./Public/layout_admin.html" />

<block name="content">
    <div class="page-header">
        <h4>订单列表</h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <form action="">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="订单号">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="收货人">
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option>待确认</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">订单列表</div>
        <div class="panel-body">
            <volist name="u" id="v">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>购买商品</th>
                        <th>下单时间</th>
                        <th>收货人</th>
                        <th>数量</th>
                        <th>应付金额</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox">{{$v.sn}}</td>
                        <td>{{$v.goods_name}}</td>
                        <td>{{$v.time|date="Y-m-d H:i:s",###}}</td>
                        <td>{{$v.user_name}}【{{$v.phone}}】</td>
                        <td>{{$v.count}}</td>
                        <td>{{$v.sum_price}}</td>
                        <td>{{$v.stat}}</td>
                        <td>
                            <a href={{:U("OrderManage/index/send","id=$v[id]")}}>发货</a></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </volist>
        </div>
    </div>
</block>