<extend name="./Public/layout_admin.html" />

<block name="content">
    <div class="page-header">
        <h4>配送方式</h4>
    </div>
    <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">配送方式</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>配送方式名称</th>
                    <th>保价费</th>
                    <th>货到付款</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>自取</td>
                    <td>0</td>
                    <td>否</td>
                    <td>0</td>
                    <td><a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>EMS</td>
                    <td>2%</td>
                    <td>是</td>
                    <td>25</td>
                    <td>
                        <a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>顺丰</td>
                    <td>2%</td>
                    <td>是</td>
                    <td>25</td>
                    <td><a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</block>