<extend name="./Public/layout_home.html" />
<block name="container">
	<div class="list_lift">
		<ul>
			<li><a href="">电脑整机</a>
				<table>
					<tr>
						<td><a href="">笔记本</a></td>
						<td><a href="">超极本</a></td>
					</tr>
					<tr>
						<td><a href="">游戏本</a></td>
						<td><a href="">平板电脑</a></td>
					</tr>
					<tr>
						<td><a href="">台式电脑</a></td>
						<td><a href="">电脑一体机</a></td>
					</tr>
					<tr>
						<td><a href="">服务器</a></td>
						<td><a href="">工作站</a></td>
					</tr>
				</table>
			</li>
			<li><a href="">DIY硬件</a>
				<table>
					<tr>
						<td><a href="">DIY组装</a></td>
						<td><a href="">显示器</a></td>
					</tr>
					<tr>
						<td><a href="">cpu</a></td>
						<td><a href="">主板</a></td>
					</tr>
					<tr>
						<td><a href="">显卡</a></td>
						<td><a href="">硬盘</a></td>
					</tr>
					<tr>
						<td><a href="">内存</a></td>
						<td><a href="">机箱</a></td>
					</tr>
					<tr>
						<td><a href="">电源</a></td>
						<td><a href="">光驱</a></td>
					</tr>
					<tr>
						<td><a href="">声卡、扩展卡</a></td>
						<td><a href="">散热器</a></td>
					</tr>
					<tr>
						<td><a href="">装机配件</a></td>
						
					</tr>
				</table>
			</li>
			<li><a href="">键鼠</a></li>
			<li><a href="">储存设备</a></li>
			<li><a href="">电脑外设</a></li>
			<li><a href="">网络设备</a></li>
			<li><a href="">办公打印</a></li>
		</ul>

	</div><!--list_lift到此结束 -->
	
	<div class="list_right">
		<div class="hot">
			<div class="hot_text">热卖推荐</div>
			<div class="hot_pc">
				<div class="hot_pcone">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">特价：<span>￥3199.00</span></div>
					<div class="qianggou"><a href="">立即抢购</a></div>
				</div>
				<div class="hot_pcone">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">特价：<span>￥3199.00</span></div>
					<div class="qianggou"><a href="">立即抢购</a></div>
				</div>
				<div class="hot_pcone">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">特价：<span>￥3199.00</span></div>
					<div class="qianggou"><a href="">立即抢购</a></div>
				</div>
				<div class="clear"></div>
			</div>
		</div><!--hot到此结束 -->
		<div class="right_list">
			<div class="shaixuan"><span>笔记本</span>-商品筛选</div>
                <div class="shaixuan_list">
                    <p>品牌:</p>
                    <ul>
                        <li><a href="">联想(ThinkPad)</a></li>
                        <li><a href="">联想(Lenovo)</a></li>
                        <li><a href="">华硕(ASUS)</a></li>
                        <li><a href="">宏碁(acer)</a></li>
                        <li><a href="">戴尔(DELL)</a></li>
                        <li><a href="">惠普(HP)</a></li>
                        <li><a href="">苹果(Apple)</a></li>
                        <li><a href="">神州(HASEE)</a></li>
                        <li><a href="">三星(SAMSUNG)</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="shaixuan_list">
                    <p>价格:</p>
                    <ul>
                        <li><a href="">0-3199</a></li>
                        <li><a href="">3200-4299</a></li>
                        <li><a href="">4500-6699</a></li>
                        <li><a href="">6700-8999</a></li>
                        <li><a href="">9000-12699</a></li>
                        <li><a href="">12700以上</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="shaixuan_list">
                    <P>尺寸:</P>
                    <ul>
                        <li><a href="">10.1英寸以下</a></li>
                        <li><a href="">11英寸</a></li>
                        <li><a href="">12英寸</a></li>
                        <li><a href="">13英寸</a></li>
                        <li><a href="">14英寸</a></li>
                        <li><a href="">15英寸</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="shaixuan_list">
                    <p>触控:</p>
                    <ul>
                        <li><a href="">普通触控</a></li>
                        <li><a href="">PC平板二合一</a></li>
                        <li><a href="">非触控</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
		</div><!--right_list到此结束 -->
		<div class="paixu">
			<div class="paixu_1"><a href="">排序:</a></div>
			<div class="paixu_2"><a href="">销量:</a></div>
			<div class="paixu_2"><a href="">价格:</a></div>
			<div class="paixu_2"><a href="">评论:</a></div>
			<div class="paixu_2"><a href="">上架时间:</a></div>
			<div class="clear"></div>
		</div><!--paixun到此结束 -->
		<div class="right_pc">
            <volist name="g_l" id="v">
			<div class="pc_levl">
				<div class="pc_main">
					<div style="text-align:center;">
						<img src="{{$v.thumb}}.gif" width="139" height="109">
					</div>
					<div class="hot_jiage" style="margin:10px 0;">
						<span >￥{{$v.price}}.00</span>
					</div>
					<div class="hot_tu_jieshao">
						{{$v.name}}
					</div>
					<div class="say"><a href="">380条评论</a></div>
				</div>
				<div class="botm">
					<a href="">加入购物车</a>
					<a href="">收藏</a>
					<a href="">对比</a>
				</div>
			</div>
            </volist>

			<div class="clear"></div>
		</div><!--right_pc到此结束 -->
		<div class="right_pagg">
		</div><!--right_pagg到此结束 -->
	</div><!--list_right到此结束 -->
	<div class="clear"></div>
</block>