<extend name="./Public/layout_home.html" />
<block name="container">
	<div class="list_lift">
		<ul>
			<li><a href="">电脑整机</a>
				<table>
					<tr>
						<td><a href="">笔记本</a></td>
						<td><a href="">超极本</a></td>
					</tr>
					<tr>
						<td><a href="">游戏本</a></td>
						<td><a href="">平板电脑</a></td>
					</tr>
					<tr>
						<td><a href="">台式电脑</a></td>
						<td><a href="">电脑一体机</a></td>
					</tr>
					<tr>
						<td><a href="">服务器</a></td>
						<td><a href="">工作站</a></td>
					</tr>
				</table>
			</li>
			<li><a href="">DIY硬件</a>
				<table>
					<tr>
						<td><a href="">DIY组装</a></td>
						<td><a href="">显示器</a></td>
					</tr>
					<tr>
						<td><a href="">cpu</a></td>
						<td><a href="">主板</a></td>
					</tr>
					<tr>
						<td><a href="">显卡</a></td>
						<td><a href="">硬盘</a></td>
					</tr>
					<tr>
						<td><a href="">内存</a></td>
						<td><a href="">机箱</a></td>
					</tr>
					<tr>
						<td><a href="">电源</a></td>
						<td><a href="">光驱</a></td>
					</tr>
					<tr>
						<td><a href="">声卡、扩展卡</a></td>
						<td><a href="">散热器</a></td>
					</tr>
					<tr>
						<td><a href="">装机配件</a></td>
						
					</tr>
				</table>
			</li>
			<li><a href="">键鼠</a></li>
			<li><a href="">储存设备</a></li>
			<li><a href="">电脑外设</a></li>
			<li><a href="">网络设备</a></li>
			<li><a href="">办公打印</a></li>
		</ul>

	</div><!--list_lift到此结束 -->
	
	<div class="list_right">
		<div class="hot">
			<div class="hot_text">积分兑换</div>
			<div class="paixu">
				<div class="paixu_1"><a href="">排序:</a></div>
				<div class="paixu_2"><a href="">销量:</a></div>
				<div class="paixu_2"><a href="">价格:</a></div>
				<div class="paixu_2"><a href="">上架时间:</a></div>
				<div class="clear"></div>
			</div><!--paixun到此结束 -->
			<div class="hot_pc">
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="jifen">
					<div class="hot_tu"><img src="__PUBLIC__/img/pcone_03.gif"></div>
					<div class="hot_tu_jieshao">华硕爆款，横扫i5 2G独显</div>
					<div class="hot_jiage">积分：<span>35199</span></div>
					<div class="qianggou"><a href="">立即兑换</a></div>
				</div>
				<div class="clear"></div>
			</div>
		</div><!--hot到此结束 -->
	</div>	
	<div class="clear"></div>
</block>


