<extend name="./Public/layout_home.html" />

<block name="container">
		<div class="ban">
			<div class="ban_btn">留言板</div>
			<div class="ban_link"></div>
			<div class="ban_tell">
				<div class="admin">
					<img src="__PUBLIC__/img/admin_03.gif">
					<p>admin</p>
				</div>
				<div class="tell_border">
					<div class="star">
						<img src="__PUBLIC__/img/star_07.gif">

					</div>
					<div class="tell_textarea"> 

							质量不错

					</div>
				</div>
				<div class="clear"></div>
			</div>
            
			<div class="tell_page">
			<a href="">上一页</a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">...</a>
			<a href="">46</a>
			<a href="">下一页</a>
		</div>
			<div class="clear"></div>
		</div><!--ban到此结束 -->
		
		<div class="clear"></div>
		<div class="tell">
			<div class="ban_btn">留言板</div>
			<div class="ban_link"></div>
			<div class="my_tell">
				<table>
					<tr>
						<td>用户名：</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>电子邮箱：</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>留言类型：</td>
						<td><input type="radio" name="sex">留言
						<input type="radio" name="sex">投诉
						<input type="radio" name="sex">询问</td>
					</tr>
					<tr>
						<td>标题</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>留言内容</td>
						<td><input type=""> </td>
					</tr>	
				</table>		

			</div>
		</div><!--ban到此结束 -->
				<div class="clear"></div>
	</div>
</block>