<extend name="./Public/layout_user.html" />
<block name="user_main">
    <div class="point">
        <p>我的积分</p>
        <p>您的当前积分<span>1000</span>分</p>
        <div class="my_point">
            <a href="">积分记录</a>
            <ul class="point_sign">
                <li>日期</li>
                <li>获得积分</li>
                <li>消耗积分</li>
                <li>详细说明</li>
            </ul>
            <div class="clear"></div>
            <table class="point_table">
                <tr>
                    <td>2013-11-02 15:12:41</td>
                    <td>12</td>
                    <td>100</td>
                    <td>102629818273-商品评价奖励积分</td>
                </tr>
            </table>
            <table class="point_table">
                <tr>
                    <td>2013-11-02 15:12:41</td>
                    <td>12</td>
                    <td>100</td>
                    <td>102629818273-商品评价奖励积分</td>
                </tr>
            </table>
            <table class="point_table">
                <tr>
                    <td>2013-11-02 15:12:41</td>
                    <td>12</td>
                    <td>100</td>
                    <td>102629818273-商品评价奖励积分</td>
                </tr>
            </table>
        </div>
        <div class="page">
            页码
        </div>
    </div>
</block>