<extend name="./Public/layout_user.html" />
<block name="user_main">
    <div class="user_goods">
        <p>我的订单</p>
        <volist name="u_g" id="v">
            <table class="my_goods">
                <tr>
                    <td>
                        <img src="{{$v.gid_name}}.gif" width="99" height="68"/>
                        <p>订单编号:<span>{{$v.sn}}</span></p>
                    </td>
                    <td>
                        <p>{{$v.time|date="Y-m-d",###}}</p>
                        <p>{{$v.time|date="H:i:s",###}}</p>
                    </td>
                    <td>
                        <p>{{$v.stat}}</p>
                        <p class="appraise_ajax"><a href={{:U("user/index/appraise","id=$v[id]")}} data_type="{{$v.id}}">确认收货</a></p>
                    </td>
                    <td>
                        <p>{{$v.count}}</p>
                    </td>
                    <td>
                        <p>￥{{$v.sum_price}}</p>
                        <p>在线支付</p>
                    </td>
                    <td><a href={{:U("home/index/goods","id=$v[oid]")}}>查看</a>|<a href="">删除</a></td>
                </tr>
            </table>
        </volist>
    </div>
    <!--<script>-->
        <!--$(function(){-->
            <!--$(".appraise_ajax").click(function(){-->
                <!--var id = $(this).children().attr("data_type");-->
                <!--$.post("{{:U(receipt)}}", {-->
                    <!--id : id,-->
                <!--}, function(data){-->
                    <!--console.log(data);-->
                    <!--window.location.href="{{:U('user/index/appraise','id=a')}}";-->
                <!--}, "html")-->
            <!--})-->
        <!--})-->
    <!--</script>-->
</block>